{% extends 'base.html' %}


{% block title %}Home{% endblock title %}

{% block content %}
<h1>Home</h1>
<p>Welcome to my home page!</p>
<p>Join the conversation and connect with people who share your interests! 
    Whether you're here to discuss hobbies, ask questions, or share insights, 
    our message board is the perfect place to engage in meaningful discussions. 
    Browse topics, start new threads, and be part of a thriving online community.
    Sign up today and start sharing your thoughts!</p>
{% endblock content %}